<div class="todoMain">
    <div class="categoryMain p-20">
        <ul>
            <li *ngFor="let data of allData; let i= index;">
                <a (click)="categoryClick(data, i)">{{data.categoryName}}</a>
                <button type="button" (click)="deleteCategory(i)">Delete</button>
            </li>
        </ul>
        <div class="addRow">
            <form (ngSubmit)="onSubmitCategory(form)" novalidate>
                <input type="text" placeholder="Enter Category" name="category" [(ngModel)]="categoryText" />
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <div class="itemsMain p-20">
        <h2>{{itemsHead}}</h2>
        <ul>
            <li *ngFor="let item of itemsData; let i = index;">
                <div class="items">
                    <input type="checkbox" [(ngModel)]="item.isChecked" /> 
                    <span [ngClass]="item.isChecked == true ? 'strike': ''">{{item.itemName}}</span>
                    <button type="button" (click)="delete(item, i)">Delete</button>
                </div>
            </li>
        </ul>
        <div class="addRow">
            <form (ngSubmit)="onSubmitItems(form)" novalidate>
                <input type="text" placeholder="Enter Item Name" name="items" [(ngModel)]="itemText" />
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</div>