<h2>{{cateogryHead}}</h2> 

<p>{{noItems}}</p>
<ul>
    <li *ngFor="let item of items; let i = index;">
        <div class="items">
            <input type="checkbox" [(ngModel)]="item.isChecked" />
            <span [ngClass]="item.isChecked == true ? 'strike': ''">{{item.itemName}}</span>
            <button type="button" (click)="delete(item, i)">Delete</button>
        </div>
    </li>
</ul>
<div class="addRow">
    <form (ngSubmit)="onSubmitItems(form)" novalidate>
        <input type="text" placeholder="Enter Item Name" name="items" [(ngModel)]="itemText" />
        <button type="submit">Add</button>
    </form>
</div>
<button routerLink="/todo2">back</button>