<div class="ptl-20" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end start">
        <div fxFlex="25" class="pr-20">
            <mat-form-field appearance="outline">
                <mat-label>Employee Designation</mat-label>
                <mat-select (selectionChange)="employeeDesignation($event.value)" name="Employee Designation">
                    <mat-option>All</mat-option>
                    <mat-option *ngFor="let data of Designations" [value]="data">
                        {{data}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="25" class="pr-20">
            <div class="boxShadow p-20">
                <div fxLayout="column">
                    <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Employee ID" name="Employee ID" [(ngModel)]="empData.empID">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Employee Name" name="Employee Name" [(ngModel)]="empData.empName">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Employee Designation</mat-label>
                            <mat-select [(ngModel)]="empData.designation" name="Employee Designation">
                                <mat-option *ngFor="let data of Designations" [value]="data">
                                    {{data}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button type="submit" class="primaryBtn" mat-button [disabled]="!form.form.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div fxFlex="75">
            <div fxLayout="row wrap" fxLayoutWrap="wrap" fxLayoutAlign="start start">
                <div fxFlex="33.333" class="pr-20" *ngFor="let data of employeesData; let i = index;">
                    <div class="boxShadow p-20 mb-20">
                        <div fxLayout="column">
                            <div class="pb-20">
                                <p class="pbold">Employee ID</p>
                                <p>{{data.empID}}</p>
                            </div>
                            <div class="pb-20">
                                <p class="pbold">Employee Name</p>
                                <p>{{data.empName}}</p>
                            </div>
                            <div class="pb-20">
                                <p class="pbold">Employee Designation</p>
                                <p>{{data.designation}}</p>
                            </div>
                            <div class="pb-20" *ngIf="data.modifiedDate === undefined">
                                <p class="pbold">Created Date</p>
                                <p>{{data.createdDate | date: 'd/M/yyyy, h:mm a'}}</p>
                            </div>
                            <div class="pb-20" *ngIf="data.modifiedDate !== undefined">
                                <p class="pbold">Modified Date</p>
                                <p>{{data.modifiedDate | date: 'd/M/yyyy, h:mm a'}}</p>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <button mat-button type="button" class="editBtn mr-20" (click)="edit(data)">Edit</button>
                                <button mat-button type="button" class="deleteBtn" (click)="delete(data, i)">Delete</button>
                            </div>
                        </div>
                        <div class="checkbox">
                            <mat-checkbox [(ngModel)]="data.isChecked"></mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>