<div class="todoMain">
    <div class="categoryMain p-20">
        <ul>
            <li *ngFor="let data of allData; let i= index;">
                <a [routerLink]="'item/'+ data.id" >{{data.categoryName}}</a>
                <!-- <a [routerLink]="'item'" >{{data.categoryName}}</a> -->

                <button type="button" (click)="deleteCategory(data, i)">Delete</button>
            </li>
        </ul>
        <div class="addRow">
            <form (ngSubmit)="onSubmitCategory(form)" novalidate>
                <input type="text" placeholder="Enter Category" name="category" [(ngModel)]="categoryText" />
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <div class="itemsMain p-20">
       <router-outlet></router-outlet>
    </div>
</div>